<div class="container">
  <div class="row">
    <div class="col-xs-3">
      ジャンル検索ボックス
    </div>
    <div class="col-xs-3 col-xs-offsef-1">
      <%= attachment_image_tag @product, :image_id, :fill, 30, 30, format:'jpeg',fallback: "no_image.jpg", size:"200x200" %>
    </div>
    <div class="col-xs-4">
      <h2><%= @product.name %></h2>
      <br>
      <br>
      <%= @product.introduction %><br>
      <br>
      <br>
      <%= @product.price %> (税込み)
    </div>
  </div>
  
  <%= form_with model: @cart_product, url: cart_products_path, local: true do |f| %>
  <!--<div class="row">-->
  <!--  <div class="col-xs-1 col-xs-offset-7">-->
  <!--    個数選択ボックス-->
  <!--  </div>-->
  <!--  <div class="col-xs-1">-->
  <!--    <button class="btn btn-primary">カートに入れる</button>-->
  <!--  </div>-->
  <!--</div>-->
  <!--上のdivはフォームに変更してコントローラにparameterを渡す必要あり-->
  <!--送信先はcart_productのcreate-->
</div>