<h1>登録情報編集</h1>
<table>
  <tbody>
    <tr>
      <td>名前</td>
      <td>(姓）</td>
      <td><%= f.text_field :family_name%></td>
      <td>（名）</td>
      <td><%= f.text_field :first_name%></td>
    </tr>
    <tr>
      <td>フリガナ</td>
      <td>(セイ)</td>
      <td><%= f.text_field :family_name_kana%></td>
      <td>（メイ）</td>
      <td><%= f.text_field :first_name_kana%></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td>&nbsp;</td>
      <td><%= f.text_field :email%></td>
    </tr>
    <tr>
      <td>電話番号（ハイフンなし）</td>
      <td>&nbsp;</td>
      <td><%= f.text_field :tel%></td>
    </tr>
    <tr>
      <td>住所</td>
      <td>&nbsp;</td>
      <td><%= f.text_field :%></td>
    </tr>
  </tbody>
<%= %>
</table>