
<div clss="row">

<!-- 購入商品-->

<div class="col-md-9">
<table class="table">
 <thead>
  <tr>
   <th>商品名</th>
   <th>単価</th>
   <th>数量</th>
   <th>小計</th>
  </tr>
 </thead>
 <tbody>
  <!-- each do -->
  <tr><!-- cart-products --></tr>
 </tbody>
</table>

</div>

<!-- 金額 -->

<div class="col-md-3">

<table class="table">
 <tbody>
  <tr>
   <th>送料</th>
   <td>800</td>
  </tr>
  <tr>
   <th>商品合計</th>
   <td><!-- 商品合計 --></td>
  </tr>
  <tr>
   <th>請求金額</th>
   <tr><!-- 請求金額 --></tr>
  </tr>
  </tbody>
</table>

</div>
</div>

<!-- 支払い方法 -->

<%= form_with model: @order, url: orders_path, local: true do |f| %>

<div class="row">
 <div class="col-md-12">

<div class="cofind-pay-method">
<h3>支払方法</h3>
<p><!-- クレジット or 現金振込 -->
<%= @order.payment_method %>
<%= f.hidden_field :payment_method, :value => @order.payment_method %>
</p>
</div>

<!-- 配送先 -->

<div class="confind-delivery_address">

 <h3>お届け先</h3>
 <p><%= @order.postalcode %></p>
 <%= f.hidden_field :postalcode, :value => @order.postalcode %>
 <p><%= @order.delivery_address %></p>
 <%= f.hidden_field :delivery_address, :value => @order.delivery_address %>
 <p><%= @order.delivery_name %></p>
 <%= f.hidden_field :delivery_name, :value => @order.delivery_name %>

</div>


<%= f.submit '購入を確定する', class:"btn btn-success" %>
<% end %>

</div>
</div>

