<h1>商品 新規登録画面</h1>

<div class="row">
  <div class="col-md-4">
    <table class="table">
      <tr>
       <td><%= form_with model: @product, url: admins_products_path, local: true do |f| %>
         <%= render 'layouts/error_message', model: @product %>
          <div class="product-new-image">
            <%= attachment_image_tag @product, :image, :limit, 300, 300, fallback: "no_image.jpg",size: "300x300",id:"prev_img" %>
          </div>
      </td>
      </tr>
      <tr>
       <td>
         <label for="post_img" class= "btn btn-primary label-img">
         <%= f.attachment_field :image,id: :post_img, class: "hidden" %> 画像選択
         </label>
       </td>   
      </tr>
     </table>
   </div>  
     
    
   <div class="col-md-8">
     
            <table class="table">
                <tr>
                   <th><%= f.label :name, "商品名" %></th>
                   <td><%= f.text_field :name, class: "form-control" %></td> 
                </tr>
                <tr>
                  <th><%= f.label :introduction, "商品説明" %></th>
                  <td><%= f.text_area :introduction, class: "form-control" %></td>
                </tr> 
                <tr>
                  <th><%= f.label :genre_id, "ジャンル"%>
                  <td><%= f.collection_select :genre_id, Genre.all, :id,:name,{prompt: "--選択してください--"},class: "form-control" %></td>
                </tr>  
                <tr>
                  <th><%= f.label :price, "税抜価格" %></th>
                  <td><%= f.number_field :price, class: "form-control" %></td>
                </tr>
                <tr>
                 <th><%= f.label :is_active ,"販売ステータス" %></th>
                 <td> <%= f.select :is_active, [['販売中', true],['販売停止中', false]] ,{prompt: "--選択してください--"},class: "form-control" %></td>
              </table>
   
      
      <div class="text-right">
        <%= f.submit "新規登録", class: "btn btn-primary" %>
      </div>
    <% end %>
      </div>
  </div> 
</div>