
  <!-- Title -->

 <h1>
   <% if params[:genre_id] %>
     <%= @genre.name %>
   <% else %>
       すべての商品
   <% end %>
  </h1>
   <div class="row">

  <!-- ジャンル検索 -->

<div class="col-md-3">
  <div class="genre-box">
  <%= render 'genrebox', genres: @genres %>
  </div>
</div>

<!--商品ジャンルの表示-->


<!-- 販売が可能な商品件数表示 -->

 <div class="genres-container">

   <div class="col-md-9" >

     <strong> 全<%= @products.length %>件 </strong>

<!-- 全てまたは選択ジャンル別の商品表示-->

    <div class="genre-list">
       <br>
       <% @products.each do |product| %>
           <% if product.genre.is_active == true %>

            <!--<div class="col-xs-3 mt-3 product-photo"> <!--1個ずつまとめてカラムを指定する-->
             <!--<div class="mx-auto imgWrap">-->
             <div class="genre-list-item">
             <%= link_to product_path(product) do %>
              <%= attachment_image_tag product, :image, :limit, 100,100, format: 'jpeg', fallback: 'no_image.jpg',size: "200x200" %>
             <% end %>
             <br>
             <%= product.name %>
             <%= (product.price)%>円(税込)
             </div>
          <% end %>
       <% end %>

     </div>
   </div>

 <!-- ページネーション -->

   <%= paginate @products %>

    <!-- ページネーション -->
  </div>
</div>