
 <div class="row">
  <div class="col-xs-3">
    <%= render 'genrebox', genres: @genres %>
  </div>

  <div class="col-xs-9">
    <div class="row">

<!-- 画像 -->

        <div class="col-xs-5">
          <div class="product-imag">
            
         <table class="table">
           <tr>
           <th><%= attachment_image_tag @product, :image, :limit, 300, 300, fallback: "no_image.jpg",size: "320x320" %></th>
           </tr>
        </table> 
          
          </div>
        </div>
        <!-- 商品名 -->
        
        <div class="col-xs-7">
          <table class="table">
            <tr>
              <th>
            <%= @product.name %>
            </th>
            </tr>
            <tr>
          <!-- 商品説明 -->
           <td>
            <%= @product.introduction %>
          </td>
          </tr>
          <!-- 価格 -->
          
          <tr>
            <td>¥<%= (@product.price * 1.1).floor %>円(税込)</td>
          </tr>
          </table>
  </div>
  </div>
  </div>
      <!-- 個数選択 -->
      <div class="row">
      <div class="col-xs-12">
        <div class="text-right">

          <%= form_with model: @cart_product, url: cart_products_path, local: true do |f| %>
            <%= f.select :quantity, Array.new(10){|index| ["#{index+ 1}個",index+1] } %>
            <%= f.hidden_field :product_id, :value => @product.id %>
            <%= f.submit 'カートにいれる', class: "btn btn-primary"%>
          <% end %>
        </div>
      </div>
      </div>
    
  
