<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- header -->

    <header>
      <div class="header">
   <div class="logo">Logo</div>
   <div class="header-list">
     <nav>
       <ul>

         <!-- if coustomer_sign_in -->
         <% if customer_signed_in? %>
         <li class="header-list-item"><%= link_to "トップ", root_path %></li>
         <li class="header-list-item"><%= link_to "マイページ", customers_path(current_customer) %></li>
         <li class="header-list-item"><%= link_to "商品一覧", products_path %></li>
         <li class="header-list-item"><%= link_to "カート", cart_products_path %></li>
         <li class="header-list-item"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>

         <!-- if admin_sign_in -->

         <% elsif admin_signed_in? %>
         <li class="header-list-item"><%= link_to "トップ", root_path %></li>
         <li class="header-list-item"><%= link_to "商品一覧", admins_products_path %></li>
         <li class="header-list-item"><%= link_to "会員一覧", admins_customers_path %></li>
         <li class="header-list-item"><%= link_to "注文履歴一覧", admins_orders_path %></li>
         <li class="header-list-item"><%= link_to "ジャンル一覧", admins_genres_path %></li>
         <li class="header-list-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>

         <!-- if sign_out -->

         <% else %>
         <li class="header-list-item"><%= link_to "トップ", root_path %></li>
         <li class="header-list-item"><%= link_to "About", homes_about_path %></li>
         <li class="header-list-item"><%= link_to "商品一覧", products_path %></li></a>
         <li class="header-list-item"><%= link_to "新規登録", new_customer_registration_path %></li>
         <li class="header-list-item"><%= link_to "ログイン", new_customer_session_path %></li>

        <% end %>

       </ul>
     </nav>
   </div>

   </div>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

     <main>
       <div class="container">

    <%= yield %>
       </div>
    </main>
    <footer>
      <div class=footer-text>©️inc.Shabuyou.NaganoCake</div>
    </footer>
  </body>
</html>
